* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Style for views */
.view-title-container {
  width: 100%;
  height: 80px;
  border-bottom: 2px solid #000444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view-title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 34px;
  font-weight: bold;
  color: rgb(48, 48, 48);
}

.view-container {
  width: 90%;
  min-width: 650px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}

.view-form-container {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  border-top: 2px solid #000444;
}

.border-bottom {
  border-bottom: 2px solid #000444;
  border-top: none;
}

.view-table-container {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
}

/* Style for forms */

.form-main {
  width: 100%;
  padding: 20px;
}

.form-fieldset {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 300px;
}

.form-textarea {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  textarea {
    padding: 5px;
  }
}


.form-buttons {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  button {
    width: 200px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }
}

.submit-btn {
  background-color: #4CAF50;
  color: white;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}

.clear-btn {
  background-color: #008CBA;
  color: white;
}

/* Show-hide form */

.form-hidden {
  display: none;
}

.btn-container {
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}

.btn-form {
  width: 200px;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-show {
  background-color: #4CAF50;
}

.btn-hide {
  background-color: #ff0000;
}

/* Component list */

.comp-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comp-element {
  padding: 10px 10px 25px 10px;

  & + .comp-element {
    border-top: 1px solid #ccc;
  }

  &:nth-child(even) {
    background-color: #f2f2f2;
  }
}

.comp-info {
  display: flex;
  flex-direction: column;
}

.comp-name {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    color: #000ccc;
  }
}

.comp-data {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
